      body {
        background-color: #060309;
        color: #369;
        font: "Roboto Mono";
      }
      
      a {
        text-decoration: none;
        font-weight: bold;
        color: #fff;
      }
