.box-elementos {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.capa {
  background-image: url("../../assets/img/blackwhite.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
}

@media (max-width: 991.98px) {
  .capa {
    background-image: url("../../assets/img/blackwhite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    height: 422px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .capa {
    background-image: url("../../assets/img/blackwhite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    height: 315px;
  }
}

@media (max-width: 575.98px) {
  .capa {
    background-image: url("../../assets/img/blackwhite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    height: 254px;
  }
}

.titulo-capa {
  color: #ca9e67;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

@media (max-width: 991.98px) {
  .titulo-capa {
    color: #ca9e67;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
  }
}

.banner-capa {
  width: 100%;
}

.titulo-capa2 {
  font-family: 'Open Sans', sans-serif;
  color: #ca9e67;
  font-size: 65px;
}

@media (max-width: 991.98px) {
  .titulo-capa2 {
    font-family: 'Open Sans', sans-serif;
    color: #ca9e67;
    font-size: 39px;
  }
}

@media (max-width: 767.98px) {
  .titulo-capa2 {
    font-family: 'Open Sans', sans-serif;
    color: #ca9e67;
    font-size: 29px;
  }
}

.texto-capa {
  width: 45%;
  margin-left: 25px;
  margin-top: 15px;
}

@media (max-width: 991.98px) {
  .texto-capa {
    width: 45%;
    margin-left: 25px;
    margin-top: 15px;
    font-size: small;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .texto-capa {
    width: 68%;
    margin-left: 25px;
    margin-top: 15px;
    font-size: small;
  }
}

@media (max-width: 575.98px) {
  .texto-capa {
    width: 100%;
    margin-left: 0;
    margin-top: 21px;
    font-size: 11px;
  }
}

.titulo-conteudo {
  font-family: 'Open Sans', sans-serif;
  color: #ca9e67;
  font-size: 41px;
}

@media (max-width: 1199.98px) {
  .titulo-conteudo {
    font-family: 'Open Sans', sans-serif;
    color: #ca9e67;
    font-size: 35px;
  }
}

@media (max-width: 991.98px) {
  .titulo-conteudo {
    font-family: 'Open Sans', sans-serif;
    color: #ca9e67;
    font-size: 26px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .titulo-conteudo {
    font-family: 'Open Sans', sans-serif;
    color: #ca9e67;
    font-size: 20px;
    left: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 575.98px) {
  .titulo-conteudo {
    font-family: 'Open Sans', sans-serif;
    color: #ca9e67;
    font-size: 22px;
    left: 6px;
    margin-right: 5px;
  }
}

.titulo-largura {
  width: 74%;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 0;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  width: 436px !important;
}

.content1 {
  border-left: solid 3px rgb(202,158,103);
  margin-top: 0px !important;
}

.div-capa {
  margin-top: 0px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  width: 100%;
  height: 47vh;
  border-right: 3px solid rgb(202,158,103);
  position: relative;
}

@media (max-width: 1199.98px) {
  .div-capa {
    margin-top: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 917px;
    width: 100%;
    height: 43vh;
    border-right: 3px solid rgb(202,158,103);
    position: relative;
  }
}

@media (max-width: 991.98px) {
  .div-capa {
    margin-top: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 690px;
    height: 43vh;
    border-right: 3px solid rgb(202,158,103);
    position: relative;
  }
}

@media (max-width: 767.98px) {
  .div-capa {
    margin-top: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    height: 43vh;
    border-right: 3px solid rgb(202,158,103);
    position: relative;
  }
}

@media (max-width: 575.98px) {
  .div-capa {
    margin-top: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 330px;
    height: 35vh;
    border-right: 3px solid rgb(202,158,103);
    position: relative;
    border-left: 3px solid rgb(202,158,103);
  }
}

.row-margin-top {
  margin-top: 0px !important;
}

.coluna1 {
  margin-top: 20px;
}

.coluna2 {
  align-items: self-start;
}

.imagem-1 {
  width: 397px !important;
  position: absolute;
  top: 155px;
  right: 70px;
}

@media (max-width: 1199.98px) {
  .imagem-1 {
    width: 337px !important;
    position: absolute;
    top: 143px;
    right: 42px;
  }
}

@media (max-width: 991.98px) {
  .imagem-1 {
    width: 290px !important;
    position: absolute;
    top: 197px;
    right: -10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .imagem-1 {
    width: 360px !important;
    position: relative;
    top: 0;
  }
}

@media (max-width: 575.98px) {
  .imagem-1 {
    width: 183px !important;
    position: relative;
    top: 0;
  }
}

.panel {
  margin: 0 auto;
  position: relative !important;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  width: 30%;
}

@media (min-width: 300px) {
  .panel {
    margin: 0 auto;
    position: relative !important;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    width: 100%;
  }
}

.flip-1 {
  background-color: #ca9e67;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .flip-1 {
    background-color: #ca9e67;
    cursor: pointer;
    font-size: 11px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .flip-1 {
    background-color: #ca9e67;
    cursor: pointer;
    font-size: 9px;
  }
}

@media (max-width: 575.98px) {
  .flip-1 {
    background-color: #ca9e67;
    cursor: pointer;
    font-size: 19px;
  }
}

.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  cursor: pointer;
}

.card-1 {
  background-color: rgba(255,255,255,0);
}

.1-card {
  width: 100% !important;
}

.div-1 {
  width: 30%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .div-1 {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .div-1 {
    width: 100%;
  }
}

.div-2 {
  width: 70%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .div-2 {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .div-2 {
    width: 100%;
  }
}

.div-3 {
  width: 60%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .div-3 {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .div-3 {
    width: 100%;
  }
}

.div-4 {
  width: 50%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .div-4 {
    width: 100%;
  }
}

.row-flip {
  margin-top: 117px !important;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .row-flip {
    margin-top: 57px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .row-flip {
    margin-top: 48px !important;
  }
}

.banner-conteudo_txt {
  z-index: 3;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.div-capa-2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  height: 40vh;
  border-left: 3px solid rgb(202,158,103);
  border-right: 3px solid rgb(202,158,103);
}

@media (max-width: 1199.98px) {
  .div-capa-2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 917px;
    height: 40vh;
    border-left: 3px solid rgb(202,158,103);
    border-right: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 991.98px) {
  .div-capa-2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 690px;
    height: 40vh;
    border-left: 3px solid rgb(202,158,103);
    border-right: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 767.98px) {
  .div-capa-2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    height: 40vh;
    border-left: 3px solid rgb(202,158,103);
    border-right: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 575.98px) {
  .div-capa-2 {
    padding-right: 3px;
    padding-left: 3px;
    margin-right: auto;
    margin-left: auto;
    max-width: 330px;
    height: 39vh;
    border-left: 3px solid rgb(202,158,103);
    border-right: 3px solid rgb(202,158,103);
  }
}

.div-topo {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  height: 12vh;
  width: 100%;
  border-bottom: 3px solid rgb(202,158,103);
}

@media (max-width: 1199.98px) {
  .div-topo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 917px;
    height: 12vh;
    width: 100%;
    border-bottom: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 991.98px) {
  .div-topo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 690px;
    height: 12vh;
    width: 100%;
    border-bottom: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 767.98px) {
  .div-topo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    height: 12vh;
    width: 100%;
    border-bottom: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 575.98px) {
  .div-topo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 330px;
    height: 12vh;
    width: 100%;
    border-bottom: 3px solid rgb(202,158,103);
  }
}

.icon-1 {
  width: 99px !important;
}

@media (max-width: 991.98px) {
  .icon-1 {
    width: 79px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .icon-1 {
    width: 52px !important;
  }
}

.icon-1-2 {
  width: 97px !important;
}

@media (min-width: 768px) {
  .icon-1-2 {
  }
}

.modal-body {
  background-color: rgb(202,158,103);
}

.paragrafo-1 {
  position: absolute;
  bottom: -28px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #ca9e67;
  background-color: rgb(202,158,103);
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ca9e67;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: rgb(202,158,103);
}

.div-nomes {
  border: 1px solid rgb(202,158,103);
  width: 32vh;
}

@media (max-width: 1199.98px) {
  .div-nomes {
    border: 1px solid rgb(202,158,103);
    width: 30vh;
  }
}

@media (max-width: 991.98px) {
  .div-nomes {
    border: 1px solid rgb(202,158,103);
    width: 20vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .div-nomes {
    border: 1px solid rgb(202,158,103);
    width: 41vh;
  }
}

@media (max-width: 575.98px) {
  .div-nomes {
    border: 1px solid rgb(202,158,103);
    width: 41vh;
  }
}

.div-linha {
  width: 1px;
  height: 6vh;
  background-color: rgb(202,158,103);
}

.div-titulo-2 {
  width: 100%;
}

.div-linha2 {
  width: 8vh;
}

.icone-cruz {
  width: 20px;
}

.div-linha-3 {
  height: 4vh;
  width: 0.1vh;
  background-color: rgb(202,158,103);
}

.imagem-2 {
  width: 215px !important;
}

.row1 {
  margin-top: 44px !important;
  margin-bottom: 67px !important;
}

.img2 {
  width: 228px !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #c99d66;
  border-color: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #dac2a4;
  border-color: #cfcfcf;
}

.icon {
  width: 19px !important;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
}

.div-cima-titulo {
  border-left: 3px solid rgb(202,158,103);
  margin-top: 0px;
  padding-right: 15px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  width: 100%;
  height: 12vh;
  border-right: 3px solid rgb(202,158,103);
}

@media (max-width: 1199.98px) {
  .div-cima-titulo {
    border-left: 3px solid rgb(202,158,103);
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 917px;
    width: 100%;
    height: 12vh;
    border-right: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 991.98px) {
  .div-cima-titulo {
    border-left: 3px solid rgb(202,158,103);
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 690px;
    height: 12vh;
    border-right: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 767.98px) {
  .div-cima-titulo {
    border-left: 3px solid rgb(202,158,103);
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    height: 12vh;
    border-right: 3px solid rgb(202,158,103);
  }
}

@media (max-width: 575.98px) {
  .div-cima-titulo {
    border-left: 3px solid rgb(202,158,103);
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 330px;
    height: 0;
    border-right: 3px solid rgb(202,158,103);
  }
}

.div-titulo {
  position: absolute;
  left: -16px;
}

@media (max-width: 991.98px) {
  .div-titulo {
    position: absolute;
    left: -7px;
    margin-top: 18px;
  }
}

@media (max-width: 575.98px) {
  .div-titulo {
    position: absolute;
    left: 24px;
    margin-top: 18px;
  }
}

.caneta {
  width: 52px !important;
  position: absolute;
  left: -29px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .caneta {
    width: 41px !important;
    position: absolute;
    left: -22px;
  }
}

@media (max-width: 575.98px) {
  .caneta {
    width: 34px !important;
    position: absolute;
    left: -12px;
  }
}

.caneta2 {
  width: 52px !important;
  position: absolute;
  left: -43px;
}

@media (max-width: 991.98px) {
  .caneta2 {
    width: 45px !important;
    position: absolute;
    left: -40px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .caneta2 {
    width: 41px !important;
    position: absolute;
    left: -36px;
    top: 79px;
  }
}

@media (max-width: 575.98px) {
  .caneta2 {
    width: 34px !important;
    position: absolute;
    left: -28px;
    top: 34px;
  }
}

.tab-content {
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
}

.nav-tabs {
  border-bottom: none;
}

@media (max-width: 991.98px) {
  .nav-tabs {
    border-bottom: none;
    margin-top: 19px;
  }
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #f9efda;
  border-color: #f9efda;
}

a {
  color: #d5cec3;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 917px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 690px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 330px;
  }
}

#tab-1 {
  height: 30vh;
}

@media (max-width: 575.98px) {
  #tab-1 {
    height: 30vh;
    margin-bottom: 143px;
  }
}

#tab-2 {
  height: 30vh;
}

@media (max-width: 575.98px) {
  #tab-2 {
    height: 30vh;
    margin-bottom: 143px;
  }
}

#tab-3 {
  height: 30vh;
}

.card-text:last-child {
}

@media (max-width: 991.98px) {
  #row-margin {
    margin-top: 44px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #div1-mobile {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  #div1-mobile {
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .paragrafo-mobile1 {
    padding-left: 19px;
  }
}

@media (max-width: 575.98px) {
  .paragrafo-mobile1 {
    padding-left: 19px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #div-mobile-2 {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  #div-mobile-2 {
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #card-icones-1 {
    width: 110%;
    margin-left: -8px !important;
  }
}

@media (max-width: 575.98px) {
  #card-icones-1 {
    width: 110%;
    margin-left: -8px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #coluna-tabs {
    margin-bottom: 70px;
  }
}

@media (max-width: 575.98px) {
  #colunavertical {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  #tabs-vertical {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  #div-icones {
    flex-direction: column !important;
  }
}

@media (max-width: 575.98px) {
  .div-final {
    flex-direction: column;
  }
}

.nav-link.border-02.active {
  border: solid 1px rgb(201,157,102) !important;
}

.borda-1 {
  border: solid 1px rgb(201,157,102) !important;
}

#tabs-vertical {
  width: 100% !important;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgb(201,157,102);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.color-icon {
  color: #fff! important;
}

.tx1 {
  font-family: 'Open Sans', sans-serif;
}

